# Dependencies
node_modules
dist
build

# Lock files
package-lock.json
yarn.lock
pnpm-lock.yaml

# Build outputs
*.tsbuildinfo

# Logs
*.log

# Environment files
.env
.env.local

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

